.share {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: calc(100vh - 6vh);
  margin-top: 6vh;
  color: #fff;
  background-image: url('../../assets/img/inviteJoin_bg.png');
  background-size: cover;
  background-position: bottom center;
  .logo {
    height: 12vh;
    text-align: center;
    @extend %center;
    img {
      width: 100px;
      height: auto;
    }
  }
  h3 {
    margin-top: 4px;
    text-align: center;
    color: rgb(61, 61, 61);
  }
  .card {
    margin: 0 14vw;
    min-height: 100px;
    background: #fff;
    border-radius: 6px;
    margin-top: 15px;
    h4 {
      color: #000;
      text-align: center;
      padding: 12px 0;
    }
    .number {
      color: #000;
      margin: 0 40px;
      @extend %center;
      justify-content: space-between;
      span {
        color: var(--standardColor);
        display: inline-block;
        margin: 0 2px;
        font-size: 20px;
        font-weight: bolder;
      }
    }
    h5 {
      font-size: 0.12rem;
      color: #999999;
      text-align: center;
      padding: 14px 0 8px;
      border-bottom: 1px solid #eee;
    }
    .qrcode {
      $size: 20px;
      width: calc(100% + 20px);
      margin-left: -10px;
      @extend %center;
      justify-content: space-between;
      height: auto;
      img {
        width: 40vw;
      }

      i {
        display: inline-block;
        background: #b1d8f1;
        width: $size;
        height: $size;
        border-radius: 50%;
      }
    }
    .tips {
      margin: 14px;
      box-sizing: border-box;
      position: relative;
      .text {
        width: 100%;
        @extend %center;
        flex-direction: column;
        p {
          font-size: 0.14rem;
          color: #7c838d;
          margin: 3px 0;
        }
      }
    }
  }
}

.share {
  button {
    display: block;
    width: 76vw;
    margin: 0 auto;
    height: 40px;
    border-radius: 6px;
    margin-top: 40px;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
    background: var(--standardColor);
  }
}
