.share {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #F4F7FF;
}

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: calc(100vh - 6vh);
  margin-top: 6vh;
  color: #fff;

  background: url('../../assets/img/inviteJoin_bg.png') no-repeat;
  background-size: contain;
  .logo {
    height: 12vh;
    text-align: center;
    @extend %center;
    img {
      width: 100px;
      height: auto;
    }
  }
  h3 {
    margin-top: 4px;
    text-align: center;
    color: rgb(61, 61, 61);
  }
  .card {
    margin: 0 14vw;
    min-height: 100px;
    background: #fff;
    border-radius: 6px;
    margin-top: 15px;
    h4 {
      color: #000;
      text-align: center;
      padding: 12px 0;
    }
    .number {
      color: #000;
      margin: 0 40px;
      @extend %center;
      justify-content: space-between;
      span {
        color: var(--standardColor);
        display: inline-block;
        margin: 0 2px;
        font-size: 20px;
        font-weight: bolder;
      }
    }
    h5 {
      font-size: 0.12rem;
      color: #999999;
      text-align: center;
      padding: 14px 0 8px;
      border-bottom: 1px solid #eee;
    }
    .qrcode {
      $size: 20px;
      width: calc(100% + 20px);
      margin-left: -10px;
      @extend %center;
      justify-content: space-between;
      height: auto;
      img {
        width: 40vw;
      }

      i {
        display: inline-block;
        background: #b1d8f1;
        width: $size;
        height: $size;
        border-radius: 50%;
      }
    }
    .tips {
      margin: 14px;
      box-sizing: border-box;
      position: relative;
      .text {
        width: 100%;
        @extend %center;
        flex-direction: column;
        padding-bottom: 15px;
        p {
          font-size: 0.14rem;
          color: #7c838d;
          margin: 3px 0;
        }
      }
    }
  }
}
.sing{
  margin-top: 40px;
  padding: 0 10%;
  width: 80%;
  background: url(../../assets//img/qiangoudan_bg@2x.png) no-repeat;
  background-size: 100% 100%;
  .tit{
    color: #66819F;
    position: relative;
    >p{
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0,-50%);
    }
    >div{
       float:right;
    }
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  .lists{
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    li{
      line-height: 30px;
      .t1{
        margin-right: 20px;
        color: #A0B2CA;
      }
      .t2{}
    }
  }
  .singtext{
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    color: #A0B2CA;
    .SignatureContent{
    
    }
  }
}

.share {
  button {
    display: block;
    width: 76vw;
    margin: 0 auto;
    height: 50px;
    border-radius: 6px;
    margin-top: 80px;
    overflow: hidden;
    font-size: 19px;
    font-weight: bold;
    color: #fff;
    background: var(--standardColor);
  }
}
.sav{
  position: absolute;
  right: 10px;
  top:0;
  color: #fff;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
#myCanvas{
  width: 90%;
  height: 150px;
  border-radius: 10px;
  margin: 10px 5% 5px 5%;
  color:#ff6000;
  background-color: #ffffff;
}
.btn-primary{
  background-color:#5aa6e8;
  color: #ffffff;
  padding: 2px 5px;
  border-radius: 6px;
  margin-left: 5%;
  font-size: 12px;
}
