.wrap {
  margin-top: 0.1rem;
  margin-bottom: 0.25rem;
  background: rgba(255, 255, 255, 1);
  border-radius: 0.04rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
%dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 6px;
  background-color: #999999;
  border: 4px solid #fff;
  border-radius: 50%;
}
.cell {
  color: #999999;
  margin: 0 0.25rem;
  margin-right: 0;
  border-left: 1px solid #e5e5e5;
}

.arrowRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: #000000;
  padding-left: 0.125rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  transform: translateX(-0.2rem);
  padding-right: 0.2rem;
  background: url('./assets/arrow_right.png') no-repeat;
  background-position: 100% center;
  background-size: 0.15rem auto;
  .dot {
    @extend %dot;
  }
}

.arrowDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: #000000;
  padding-left: 0.125rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  transform: translateX(-0.2rem);
  padding-right: 0.2rem;
  background: url('./assets/arrow_down.png') no-repeat;
  background-position: 100% center;
  background-size: auto 0.15rem;
  .dot {
    @extend %dot;
  }
}

.emtpyItem {
  margin-left: 0.15rem;
  background: transparent;
  border-bottom: 1px solid #e5e5e5;
}
.item {
  margin-left: 0.15rem;
  background: transparent;
  border-bottom: 1px solid #e5e5e5;
  &:last-child {
    padding-bottom: 20px;
  }
}
.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.time {
  width: 8ch;
  text-align: left;
}
%inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.textWidth {
  width: 5em;
}

.red {
  color: #fc4e4e;
  @extend %inline;
}

.green {
  color: #1da64d;
  @extend %inline;
}
.blue {
  color: #4288ff;
  @extend %inline;
}

.gary {
  columns: #999999;
  @extend %inline;
}

.garyDot {
  @extend %dot;
  background-color: #999999;
}
.blueDot {
  @extend %dot;
  background-color: #4288ff;
}
.redDot {
  @extend %dot;
  background-color: #fc4e4e;
}
